include vars.pug

mixin header 
  header 
    .click-menu
      i(class="fa-solid fa-xmark menu-x")
      i(class="fa-solid fa-bars menu-bars")

    .sidebar-menu
      nav.list 
        a(href="index.html" class="btn home") ุงูุฑุฆูุณูุฉ
        a(href="#about-us"  class="btn") ูู ูุญูุ
        a(href="#services" class="btn services") ุฎุฏูุงุชูุง
        a(href="#contact" class="btn") ุชูุงุตู ูุนูุง
        .media
          a(href="https://twitter.com/alrwoad_clean", title="ุชููุชุฑ") 
            i(class="fa-brands fa-square-twitter")
            
          a(href="https://www.instagram.com/alrwoadclean", title="ุงูุณุชูุฑุงู") 
            i(class="fa-brands fa-square-instagram")

    .head-logo 
      a(href="#") 
        img(src=mainLink + "/Images/logo.svg" alt="ุงูุดุนุงุฑ")
      p ูุคุณุณุฉ ูุธุงูุฉ ุงูุฑููุงุฏ <span>ูููุธุงูุฉ ูุงูุตูุงูุฉ</span>

    .sidebar-overlay

    .main-float
        a(
        href="https://wa.me/+966566662738"
        class="float whatsapp"
        target="_blank"
        title="ุชูุงุตู ูุงุชุณุงุจ"
        )
          img(src=mainLink + "/Images/whatsapp.svg" alt="ุชูุงุตู ูุงุชุณุงุจ")
          
        a(
          href="tel:+966566662738"
          class="float phone"
          target="_blank"
          title="ุงุชุตู ุจูุง"
          )
          img(src=mainLink + "/Images/phone.svg" alt="ูุงุชู ุงูุงุชุตุงู")

mixin services-list 
  section.our-services#services

    h2 ุฎุฏูุงุชูุง
    .container
      
      
      //- 1
      .box(data-aos="fade-left")
        img(src=mainLink + "/Images/service-1.webp" alt="ุชูุธูู ุงูููุจ")
        h3 ุชูุธูู ุงูููุจ
        p ุงุณุชุทุงุนุช ูุคุณูุณูุฉ ุงูุฑูุงุฏ ูููู ุงู ุชูุชู ุจุงุนูุงู ุงูุชูุธูู ููููุจ, ุจุงูุงุนุชูุงุฏ ุนูู ุงูุถู ุงูููููุนุงุช ุงููุฎุตุตู ููุงููุดุฉ ู ุงูุงุฎุดุงุจ ุงูุฎุงุตู ุจุงูููุจ, ููุฏููุง ุงูุถู ุงูุทุฑู ููุชูููุน ููุฌูุฏ ูุงูุดููุงู, ูุบูุฑูุง ูู ุงููุงุน ุงูููุจ ูุงูุงุซุงุซ ุงููุชูุงุฌุฏู ูู ููุฒูู, ููุง ุงู ุงููุคุณูุณูุฉ ุชุนุชูุฏ ุนูู ุงูุถู ุงูุงุฌูุฒู ูุงูุงูุงุช ุงููุชูุงุฌุฏู ูู ุงูุงุณูุงู, ูุงูุชู ุชููู ุจุงุนูุงู ุงูุชูุธูู ุนูู ุงููู ูุฌู, ููุง ุงู ูุฏููุง ุงูุถู ุงูุงูุฏู ุงูุนุงููู ุงููุฏุฑุจู ุนูู ููููู ุงูููุงู ุจุงุนูุงู ุงูุชูุธูู ููููุจ ุนูู ุงูููุฑ, ููุญู ูู ุงูุชุธุงุฑู ุงูุงู ููููุงู ุจูู ุฐูู.
      
      //- 2
      .box(data-aos="fade-right")
        img( src=mainLink + "/Images/service-2.webp" alt="ุชูุธูู ุงูุณุฌูุงุฏ")
        h3 ุชูุธูู ุงูุณุฌูุงุฏ
        p ูุนุชุจุฑ ุงูุณุฌุงุฏ ูู ุงูุฃุณุงุณูุงุช ุงูุชู ุชูุฌุฏ ูู ูู ููุงู, ูุงูุฐู ุฏุงุฆููุง ูุง ูููู ูุชูุงููุงู ูุน ุงูุฏูููุฑ ุงูููุฌูุฏ, ููุฐุง ูุฒูุฏ ูู ุฌูุงูู - ูููู ุงููุดููุฉ .ุงููุญูุฏุฉ, ุชููู ูู ุฃูู ุนุฑุถุฉ ููุฅุชุณุงุฎ ุณุฑูุนูุง ุจุณุจุจ ุชูุงุฌุฏู ุนูู ุงูุฃุฑุถ; ููุฐุง ุงูุณุจุจ ุฅุฐุง ููุช ุชุฑุบุจ ูู ุงูุญุตูู ุนูู ุณุฌุงุฏ ูุธูู ููุนุทู ุจุฑููุงู ุนูู ุงูููุงู, ูุฅูู ูุฌุจ ุนููู ุงูุชูุงุตู ูุน ูุคุณูุณูุฉ ุงูุฑูุงุฏ ูููู, ุงูุชู ุชุณุงุนุฏู ูู ุงูุญุตูู ุนูู ุณุฌุงุฏ ูุธูู, ุญุชู ูุฅู ูุงู ุนูู ุฏุฑุฌุฉ ูุจูุฑุฉ ูู ุงูุงุชุณุงุฎ, ููุฏู ูุฑูููุง ุฅููุงููุฉ ุนุงููุฉ ุชุณุงุนุฏู ุนูู ุงูููุงู ุจูุฐู ุงููููุฉ ูุฌููุน ุฃููุงุน .ุงูุณุฌุงุฏ, ููู ุถูููุง ุงูุณุฌุงุฏ ุงูุญุฑูุฑ
      
      //- 3
      .box(data-aos="fade-right")
        img(src=mainLink + "/Images/service-3.webp" alt="ุชูุธูู ุงูุดูู")
        h3 ุชูุธูู ุงูุดูู
        p ูููู ูุฑูู ุงูุนูู ุจุงุณุชูุงู ุงูุดููุฉ, ููููู ุจุฌูุน ุฃุนูุงู ุงูุชูุธูู ุงููุฎุชููุฉ ูุงููุงุฒูุฉ ุจุงูููุงู, ุจุฏุงูุฉู ูู ุงูุจุงุจ ุฅูู ุงูุฃุฑุถูุงุช ูุงูุญูุงุฆุท, ูุฌููุน ุงูุงุนูุงู ุงูุงุฎุฑู ุงููุฎุชููุฉ, ููููุง ุจุชูููุฑูุฌููุนุฉ ูู ุงูุนุงูููู ุงููุฏุฑุจูู ุนูู ุงูููุงู ุจุฌููุน ุฎุฏูุงุช ุงูุชูุธูู ุงููุฎุชููุฉ, ููุชุนุงูู ูุน ุฌููุน ุงููุงุน ุงูุงูุณุงุฎ ูุงูุงุบุฑุงุถ ุงููุฎุชููุฉ ุงููุฑุงุฏ ุชูุธูููุง. ุจุงูุฅุถุงูุฉ ุฅูู ูุฌููุนุฉ ูู ููุงุฏ ุงูุชูุธูู ุนุงููุฉ ุงูุฌูุฏุฉ, ุงูุชู ููุง ุงููุฏุฑุฉ ุนูู ุงุฒุงูุฉ ุงูุงูุณุงุฎ ูููุง ูุงูุช ุฌุงูุฉ, ููู ููุงุฏ ุงููุฉ ุชูุงูุงู ูุง ุชุณุจุจ ุงู ุงุถุฑุงุฑ ููุฃุบุฑุงุถ ุงููุณุชุฎุฏูุฉ ูู ุชูุธููู.

      //- 4
      .box(data-aos="fade-left")
        img(src=mainLink + "/Images/service-4.webp" alt="ุชูุธูู ุงููุณุงุฌุฏ")
        h3 ุชูุธูู ุงููุณุงุฌุฏ
        p ุฅูู ุงููุณุงุฌุฏ ูู ุฃุนุธู ุงูุฃูุงููุ ูุฃูุซุฑูุง ุนุธูุฉู ูุชุดุฑููุงูุ ุญูุซ ูุงู ุงููู ุชุนุงูู: <br /> (ููุฃูููู ุงููููุณูุงุฌูุฏู ูููููู) | ุณูุฑุฉ ุงูุฌู - 18 <br /> ููุง ุดูู ุงู ูู ุชูุธูููุง ูุงูุชูููู ุจุชูุธูููุง ุฃุฌุฑ ุนุธูู.
      
      //- 5
      .box(data-aos="fade-right")
        img(src=mainLink + "/Images/service-5.webp" alt="ุฌูู ุงูุจูุงุท")
        h3 ุฌูู ุงูุจูุงุท
        p ,ุฃูุถู ูุคุณูุณูุฉ ุฌูู ุฑุฎุงู โ ูููููุง ุนู ุงููุณูุง ุจููู ุซูุฉ: ูุนุฏ ุงูุฑุฎุงู ูุงูุจูุงุท ูุงูุฌุฑุงููุช ูุงูุณูุฑุงููู ูู ุงุณุงุณูุงุช ูู ููุฒู ุฃู ููุดุฃู, ูุธุฑุง ูููุฉ ุชุญููู ููุฎุชูู ุงูุนูุงูู ุงูููุงุฎูู ูุงูุจูุฆูู, ูุงููู ุนู ุงุนุทุงุกูู ููููุฒู ููุธุฑุง ุฌุฐุงุจุง ููุงูุนุงู, ููู ูู ุงูู ุฏูููุงุช ุงูููุฒู ุงูุญุฏูุซุฉ ูุชุนุฏุฏ ุงุดูุงูู ูุงููุงุนู, ูู ุญูุซ ุงูุงููุงู ุงูุฌุฐุงุจู ู ุฏุฑุฌู ููุงุก ุงูุฎุงูุงุช ุณูุงุก ูุงูุช ุทุจูุนูู ุงู ูุตูุนู. ูููู ูุญุงูุธ ุนูู ุงุฑุถูุงุช ุงูููุฒู ูุธููู ููุงูุนู, ูุฌุจ ุงูุชูุงุตู ูุน ูุคุณูุณูุฉ ูุชุฎุตุตู ูู ูุฌุงู ุฌูู ุงูุฑุฎุงู ูุชูุธููู ู ุชูุธูู ุงูุจูุงุท ูุงูุฌุฑุงููุช ุจุตูู ุฏูุฑูู, ูุงูุถุง ุงูุญุตูู ุนูู ููุฒู ูุธูู ููุงูุน ูู ุฎูุงู ุงูุญุตูู ุนูู ุฎุฏูุงุช ูุคุณูุณูุฉ ุงูุฑูุงุฏ ูููู, ูุชูุธูู ูุชูููุน ุงูุฃุฑุถูุงุช.
      //- 6
      .box(data-aos="fade-right")
        img(src=mainLink + "/Images/service-6.webp" alt="ุฌูู ุงูุจูุงุท")
        h3 ุชูุธูู ุงูููู 
        p ูุญู ุฃูุถู ูุคุณูุณูุฉ ุชูุธูู ููู, ูุนูู ุฏุงุฆูุง ุนูู ุงุณุชุฎุฏุงู ุงูุถู ูุงุญุฏุซ ุชูููุงุช ุงูุชูุธูู, ุนู ุทุฑูู ูุงูููุงุช ุชูุธูู ุงูุงุฑุถูุงุช ููุงูููุงุช ุชูุธูู ุงููุฌุงูุณ ,ูุงูุณุชุงุฆุฑ ูุนุงูู ููู ูุณุงุนุฏ ูู ุฅุนุทุงุก ุงูุนููู ุนูููุฉ ุชูุธูู ูุชูุงููุฉ, ุจุงูุงุถุงูุฉ ุงูู ุงููุง ูุฎุตุต ูุชูุธูู ุงูููู ุงููุฑ ููุธูู ุงููุคุณูุณูุฉ, ูุฐูู ููููู ุจุฌููุน ุงููุงุนูุง , (ุฌุฏูุฏุฉ - ููุฑูุดุฉ - ูุฌุฏุฏุฉ ) ุฃูุง ูุงู ุญุฌููุง, (ุฏูุจููุณ - ูุชูุณุทุฉ - ูุจูุฑุฉ ), ุญูุซ ูุณุชุฎุฏู ูุงูููุงุช ุชูุธูู ูุชูููุน ุงูุจูุงุท ู ุงูุณูุฑุงููู ูุชุนูุฏ ุงูุงุฑุถูุงุช ูุงูุฌุฏูุฏุฉ ุชูุงูุง, ููุฐูู ุชูุฏู ุงููุคุณูุณูุฉ ุฎุฏูุงุช ุชูุธูู ููู ููุฑูุดุฉ ูุน ูุธุงูุฉ ุงูุฃุซุงุซ ุงูููุฌูุฏ ุจุงููููุง.
      //- 7
      .box(data-aos="zoom-in")
        h3 ุชูุธูู ูุฌุงูุณ
      .box(data-aos="zoom-in")
        h3 ุชูุธูู ุฎุฒุงูุงุช 
      .box(data-aos="zoom-in")
        h3 ุชูุธูู ูุณุงุจุญ 
      .box(data-aos="zoom-in")
        h3 ุชูุธูู ุญุฏุงุฆู  
      .box(data-aos="zoom-in")
        h3 ุชูุธูู ุดุฑูุงุช   

//- mixin sticky-whatsapp 
  a(
    href="https://wa.me/+966566662738"
    class="float"
    target="_blank"
    title="whatsapp"
    )
      img(src=mainLink + "/Images/whatsapp.svg" alt="ุชูุงุตู ูุงุชุณุงุจ")

mixin contact 
  section.contact#contact
    h2 ุชูุงุตู ูุนูุง
    .container

      div(class="box box-email" data-aos="fade-right")
        img(src=mainLink + "/Images/gmail.svg" alt="ุงูุจุฑูุฏ ุงูุงููุชุฑููู")
        p Arowadclean.co@gmail.com
        .button-holder
          a(
            href="mailto:Arowadclean.co@gmail.com"
            class="whatsapp button"
            target="_blank"
            title="whatsapp"
          ) ุฅุถุบุท ููุชูุงุตู

      

      div(class="box city one" data-aos="fade-left")
        h4 ุฑูู ุงูุชูุงุตู
        p 056-666-2738
        .btns
          a(
            href="https://wa.me/+966566662738"
            class="whatsapp button"
            target="_blank"
            title="ุชูุงุตู ูุงุชุณุงุจ"
            )
            img(src=mainLink + "/Images/whatsapp.svg", alt="ูุงุชุณุงุจ")
          
          a(
            href="tel:+966566662738"
            class="phone button"
            target="_blank"
            title="ุงูุงุชุตุงู ุจุงููุงุชู"
            )
            img(src=mainLink + "/Images/phone.svg", alt="ุงููุงุชู")

      //- div(class="box city" data-aos="fade-left")
      //-   h4 ุงููุฏููุฉ ุงููููุฑุฉ
      //-   p 050-334-9612
      //-   .btns
      //-     a(
      //-         href="https://wa.me/+966503349612"
      //-         class="whatsapp button"
      //-         target="_blank"
      //-         title="ุชูุงุตู ูุงุชุณุงุจ"
      //-       )
      //-       img(src=mainLink + "/Images/whatsapp.svg", alt="ูุงุชุณุงุจ")
      //-       //- img(src="", alt="")
      //-     a(
      //-         href="tel:+966503349612"
      //-         class="phone button"
      //-         target="_blank"
      //-         title="ุงูุงุชุตุงู ุจุงููุงุชู"
      //-       )
      //-       img(src=mainLink + "/Images/phone.svg", alt="ุงููุงุชู")
          
          


    


      //- div(class="box location" data-aos="fade-up")
      //-   h3 ุชูุถูู ุจุฒูุงุฑุชูุง
      //-   p ุฌุฏูุฉ, ุงูุตูุงุนูุฉ ุงูุฐููุฉ, ุนุณูุงู
      //-   p ุฅุถุบุท ููุง ๐ ูุฒูุงุฑุฉ ูููุนูุง 
      //-   a(href="https://goo.gl/maps/RKLwcrZjpjAN44dF8" target="_blank")
      //-     img(src=mainLink + "/Images/map.svg" alt="ุงููููุน")

mixin footer 
  footer 
    .media 
      a(href="https://twitter.com/alrwoad_clean", title="ุชููุชุฑ") 
        i(class="fa-brands fa-square-twitter")
        
      a(href="https://www.instagram.com/alrwoadclean", title="ุงูุณุชูุฑุงู") 
        i(class="fa-brands fa-square-instagram")
    img(src="Images/logo.svg", alt="ุงูุดุนุงุฑ")
    p  ุงูุญููู ูุญููุธุฉ ููุคุณุณุฉ ูุธุงูุฉ ุงูุฑูุงุฏ &copy;
